/*
Theme Name: Hudson Alpha 1.5
Version: 1.5
*/
/* Import the necessary TK Bootstrap iWP CSS additions */
@import url(includes/css/bootstrap-wp.css);
/* My Minimal WordPress Styling comes here */
/* This is a small security for too long strings titles */

body {
word-wrap: break-word;
background-color: #dedfde;
font-family: dinot;
}
@font-face {
font-family: dinot-light;
src: url("./fonts/DINOT-Light.ttf") format("truetype");
}
@font-face {
font-family: dinot-bold;
src: url("./fonts/DINOT-Bold.otf") format("opentype");
}
@font-face {
font-family: dinot;
src: url("./fonts/DINOT.otf") format("opentype");
}
/* Alignment */
.alignleft {
display: inline;
float: left;
margin-right: 1.5em;
}
.alignright {
display: inline;
float: right;
margin-left: 1.5em;
}
.aligncenter {
clear: both;
display: block;
margin: 0 auto;
}
/* --------------------------- HEADER ------------------------------------------------------ */
header.site-header {
background-image: url(./images/header_bg.jpg);
min-height: 152px;
}

header.site-header h1 {
padding: 0;
margin: 0;
}
h1.site-title a {
color: white;
text-decoration: none;
font-family: dinot-light, arial, helvetica, verdana;
font-size: 54px;
margin: 0;
padding: 0;
font-weight: 200;
}
h4.site-description {
color: white;
font-family: dinot-light, arial, helvetica, verdana;
margin: 10px 0 30px 0;
padding: 0;
font-size: 18px
}
.logo {
margin-top: 37px;
height: 70px;
width: 350px;
background-image: url(./images/logo.png);
background-repeat: no-repeat;
}
.site-header {
background: #0082C7;
}
.site-header .container {
padding: 0;
}
/*upper header ------------------ */
.site-upper-header {
background-color: #000000;
border-bottom: 2px solid #ccc;
color: white;
padding: 10px 0 10px 0;
font-size: 12px;
}
.site-upper-header .container {
padding: 0;
}
.site-upper-header .text {
line-height: 50px;
display: block;
}
.site-upper-header a.link {
color: white;
}
#upper-header-phone-email {
margin-right: 30px;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo {
		margin: 0 auto;
		text-align: center;
	}
	.site-branding {
		margin: 0 0 0 20px;
		padding: 0;
	}
	h4.site-description {
		margin: 10px 30px 10px 0;
	}
	#upper-header-address {
		margin-left: 10px;
	}
}

@media only screen and (max-width : 1024px) {

	.person .content, .person .lab-members-title {
		margin-left: 10px;
	}

	ul.nav li {
		margin-left: 10px;
	}
}
/*  --------------------------- NAVBAR  ------------------------------------------------------ */
.navbar-default .navbar-nav > li > a {
color: black;
text-transform: uppercase;
}
/*.current_page_item {
background-color: white;
}
*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover
{
background-color: white;
color: black;
color: #0082C8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
background-color: white;
color: #0082C8;
}
.dropdown-menu {
background-color: #E2E3E5;
text-transform: uppercase;
border: none;
color: black;
background-image: none;
}
.dropdown-menu li a:hover,  .dropdown-menu li:hover{
background-color: white;
color: black;
}
.dropdown-menu li > a:hover {
/*linear-gradient: #fff, #fff;*/
background-color: white;
background-image: none;
color: #0082ca;
}
/*make drop down on hover*/
.dropdown:hover .dropdown-menu {
display: block;
}
/*remove bootstrap borders*/
.navbar-default {
background-color: #F8F8F8;
border: none;
}
.navbar {
margin-bottom: 0;
}
.site-navigation {
background: #e3e3e5;
border-bottom: 1px solid #8c8c8c;
}
.site-navigation .container {
padding: 0;
}
.site-navigation .site-navigation-inner {
padding: 0;
}
.site-navigation .navbar-default {
background: #e2e3e5;
}
/* --------------------------- SITE CONTENT -------------------------------------------------------*/
#content {
background-color: white;
width: 101%;
padding: 20px 0 40px 0;
height: 100%;
overflow: hidden;
}
strong {
font-family: dinot-bold;
}
#content h3 {
color: #0082C8;
}
.site-content .title {
color: #428bca;
}
.site-content .publications,
.site-content .news {
margin: 20px 0 0 0;
padding: 0;
list-style-type: none;
}
.site-content .publications .publication,
.site-content .news .item {
margin: 0 0 20px 0;
}
.site-content .paginator {
margin: 0;
text-align: right;
list-style-type: none;
text-transform: uppercase;
}
.site-content .paginator li {
display: inline-block;
margin:0 10px;
}
.site-content  .title-underline {
width: 98%;
height: 1px;
background: #b2b2b2;
position: relative;
z-index: 2;
display: block;
margin-top: 9px;
}
.site-content .title-underline .dot {
position: absolute;
right: -2px;
top: -3px;
background: url(./images/title_underline_dot.jpg) no-repeat 0 0;
width: 7px;
height: 7px;
z-index: 3;
display: block;
}
.site-content .news .date {
display: block;
width:100%;
color:#9e9e9e;
}
.site-content .news .content {
/*margin-top:10px;*/
}
.site-content .news .under_content {
list-style-type: none;
/*margin:10px 0 0 0;*/
padding:0;
}
.site-content .news .under_content .block {
display: inline-block;
margin-right: 10px;
}
.site-content .news .under_content .block .title {
display: inline-block;
color:#9d9d9d;
text-transform: uppercase;
}
.site-content .news .under_content .block.delimiter {
border-left:1px solid #9d9d9d;
width:1px;
}
.site-content .person {
margin-bottom: 20px;
}
.site-content .person .title {
color:#000000;
font-weight: bold;
display: block;
width:100%;
}
.site-content .person .subtitle {
display: block;
width:100%;
}
.main-content {
background: #ffffff;
}
#content .image-border {
border: 1px solid #ccc;
}
#content h1.title {
font-size: 28px;
}

ul.news-items {
list-style: none;
padding: 0;
margin: 0;
}
.social-and-catagories {
padding: 4px 0 20px 0;
}

a .news-title {
	text-decoration: none;
	color: black;
	font-family: dinot-bold;
}

.news-date {
	font-size: 12px;
}
/*------------------------------------------ SITE FOOTER ---------------------------------------------------- */
.site-footer {
background: #e2e3e4;
margin: 0;
border-top:1px solid #8c8c8c;
padding-top:30px;
}
.footer-site-info {
font-size:14px;
/*margin: 0 auto;*/
width: 100%;
text-align: center;
}
.site-footer .inline-list {
list-style-type: none;
text-align: center;
margin-top:15px;
}
.site-footer .inline-list .item {
display: inline-block;
margin-right:10px;
}
/*footer social icons*/
.site-footer .inline-list .item .link {
background: url(./images/social_media_sprite.png) no-repeat 0 0;
width:14px;
height: 14px;
display: inline-block;
}
.site-footer .inline-list .item .link.facebook {
background-position: -23px 0;
width: 10px;
}
.site-footer .inline-list .item .link.twitter {
background-position: 0 0;
}
.site-footer .inline-list .item .link.linkedin {
background-position: -44px 0;
}

/* --------------------------- SIDEBAR ------------------------------------------------ */

.sidebar {
padding: 20px 0 0 0;
}
.sidebar .b-side-block {
border: 1px solid #8b8c8e;
margin-bottom: 30px;
}
.sidebar .b-side-block a {
color: #0082ca;
}
.sidebar .b-side-block .title {
background: #0082c8 url('./images/title_arrow.gif') no-repeat 10px 10px;
display: block;
width: 100%;
height: 44px;
line-height: 44px;
color: #ffffff;
text-indent: 40px;
font-size: 20px;
}
.sidebar .b-side-block .content {
background: #e2e3e5;
}
.sidebar .b-side-block .content .items {
list-style-type: none;
padding: 10px 10px 0 10px;
}
.sidebar .b-side-block .content .item {
background: #ffffff;
padding: 10px;
margin: 0 0 10px 0;
}
.sidebar .b-side-block .content .more {
text-align: right;
text-transform: uppercase;
padding: 0 10px 10px 0;
display: block;
width: 100%;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*make carousel width = 100%*/
.carousel {
    width: 450px;
    width: 100%;
    float: left;
    margin-right: 20px;
}

/* make images align center in bootstrap carousel*/
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin: 20px auto 20px auto;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

.carousel-control {
	color: #0082C8;
	opacity: .8;
}

.carousel-control:hover {
	color: #0082C8;
	opacity: 1;
}

.carousel-indicators li {
	border: 1px solid #0082C8;
}

.carousel-indicators .active {
	background-color: #0082C8;
}

.carousel-indicators {
	bottom: -11px;
}
